<h2><%= @brewery.name %></h2>

<h3>List of all beers in this brewery: </h3>

<% if @brewery.beers.any?  %>
  <ul>
    <% @brewery.beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no beers in this brewery</p>

<% end %>
