<h1>Beers</h1>


<% @beer.each do |beer| %>
<ul>
  <div class="list_style">

  <%= link_to beer.name, beer_path(beer.id) %>
</div>
</ul>
<% end %>


<hr>

<%= link_to "Add a new beer", new_beer_path %>
