/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: black;
}

h1{
   font-size: 2rem;
   text-align: center;
   padding: 1.3rem;
     background-color: pink;
    }
h3{
  font-size: 1.2rem;
}

h4{
  font-size: 1.1rem;
}
h2{
  font-size: 2rem;
  text-align: center;
  padding: 1.3rem;
  background-color: pink;
}
#notice{
  font-size: .8rem;
  color: red;
}

a{
  text-decoration: none;
  color: black;
}

.brewery_container{
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.brewery_box{
  margin: 1rem;
  background-color: rgba(128, 128, 128, 0.15);
  padding:1.5rem;
  border-radius: 3%;
}

.brewery_box img{
  max-width: 300px;
  max-height: auto;
}
nav{
  margin: 1rem;
  display: flex;
  padding: .5rem;
}

nav a{
  margin:0 2rem;
}

nav a:hover {
  background-color: pink;
}

.list_container{
  margin:1rem;
}
